@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

header {
  width: 100%;
  background-color: #000;
}
header .header-container {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../assets/images/header-pic-1024.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 230px;
  padding: 30px 70px 97px;
}
header .header-container .container-divisions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}
header .header-container .container-divisions .division-left {
  display: flex;
  align-items: center;
  gap: 12px;
}
header .header-container .container-divisions .division-left .logo-icon {
  display: flex;
}
header .header-container .container-divisions .division-left .logo-icon .film-icon {
  fill: transparent;
  z-index: 10;
  cursor: pointer;
  stroke: orangered;
  text-shadow: 0 0 15px #ff001b;
}
header .header-container .container-divisions .division-left .page-name h1 {
  font-size: 30px;
  line-height: 35.16px;
  color: white;
}
header .header-container .container-divisions .division-left .page-name h1:hover, header .header-container .container-divisions .division-left .page-name h1:focus {
  cursor: pointer;
  color: orangered;
  stroke: #ff001b;
  text-shadow: 0 0 15px #ff001b;
  transition: 0.3s;
}
header .header-container .container-divisions .division-right {
  margin: 0;
}
header .header-container .container-divisions .division-right .menu-home {
  display: flex;
  justify-content: flex-end;
}
header .header-container .container-divisions .division-right .menu-home__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 14.06px;
  position: relative;
}
header .header-container .container-divisions .division-right .menu-home__item:before {
  content: "";
  border-bottom: 2px solid orangered;
  position: absolute;
  width: 90%;
  bottom: -3px;
  right: 0px;
  transition: 0.3s;
  opacity: 0;
}
header .header-container .container-divisions .division-right .menu-home__item.is-active:before, header .header-container .container-divisions .division-right .menu-home__item:hover:before {
  width: 70%;
  opacity: 1;
}
header .header-container .container-divisions .division-right .menu-home__item:after {
  content: "";
  border-bottom: 2px solid red;
  position: absolute;
  width: 70%;
  bottom: -6px;
  left: 0px;
  transition: 0.3s;
  opacity: 0;
}
header .header-container .container-divisions .division-right .menu-home__item.is-active:after, header .header-container .container-divisions .division-right .menu-home__item:hover:after {
  width: 50%;
  opacity: 1;
}
header .header-container .container-divisions .division-right .menu-home__item:not(:last-child) {
  margin-right: 39px;
}
header .header-container .container-divisions .division-right .menu-home__btn {
  padding: 1px 0;
  text-transform: uppercase;
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
}
header .header-container .division-center form {
  max-width: 366px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: solid 1px white;
}
header .header-container .search-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-container .search-input input {
  width: 100%;
  border: none;
  background: transparent;
  color: white;
}
header .header-container .search-input input:focus {
  outline: none;
}
header .header-container .search-input input:focus-within {
  border-bottom: 1px solid #ff001b;
  box-shadow: 0 0 15px orangered;
  border-radius: 6px;
}
header .header-container .search-input .scoop-icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
header .header-container .search-input .scoop-icon-btn svg {
  fill: transparent;
  stroke: #818181;
  z-index: 10;
}
header .header-container .search-input .scoop-icon-btn:focus, header .header-container .search-input .scoop-icon-btn:hover {
  border-bottom: 1px solid #ff001b;
  box-shadow: 0 0 15px orangered;
  border-radius: 6px;
}

.switch-button {
  display: inline-block;
  margin-top: 2%;
  margin-left: 80%;
}
.switch-button__label {
  background-color: white;
  width: 30px;
  height: 16px;
  border-radius: 30px;
  border-style: solid;
  border-color: #FF6B08;
  border-width: 2px;
  display: inline-block;
  position: relative;
}
.switch-button__label:before {
  transition: 0.2s;
  display: block;
  position: absolute;
  margin: 1px;
  width: 10px;
  height: 10px;
  background-color: #FF6B08;
  content: "";
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch-button__checkbox:checked + .switch-button__label {
  background-color: gray;
  border-color: #545454;
}
.switch-button__checkbox:checked + .switch-button__label:before {
  transform: translateX(1rem);
  background-color: black;
}
.switch-button__checkbox {
  display: none;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.films_gallery {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.films_gallery .movie-card {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  margin: 10px auto 15px auto;
  font-size: 12px;
  width: 274px;
}
.films_gallery .movie-card .poster-large {
  display: inline-block;
  width: 100%;
  height: 398px;
}
.films_gallery .movie-card .poster-large .gallery__image {
  width: 100%;
  height: 100%;
}
.films_gallery .movie-card .info {
  padding-left: 15px;
}
.films_gallery .movie-card .info .info-items {
  display: flex;
  font-size: 10px;
  text-align: center;
  gap: 5px;
}
.films_gallery .movie-card .info .card-movie-title {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */