header {
    width: 100%;
    background-color: #000;
    .header-container{
        background-image: linear-gradient(90deg, rgba(0, 0, 0, .56), rgba(0, 0, 0, .56)), url(../assets/images/header-pic-1024.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        height: 230px;
        padding: 30px 70px 97px;
        .container-divisions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 27px;
            .division-left {
                display: flex;
                align-items: center;
                gap: 12px;
                .logo-icon{
                    display: flex;
                    .film-icon{
                        fill: transparent;
                        stroke: #818181;
                        z-index: 10;
                    }
                }
            .page-name{
                h1 {
                    font-size: 30px;
                    line-height: 35.16px;
                    color: white;
                }
            }
            }
            .division-right {

                .menu-home {
                    display: flex;
                    justify-content: flex-end;
                    
                    &__item {
                        &:not(:last-child) {
                            margin-right: 39px;
                        }
                        &:hover {
                            border-bottom: solid 3px orangered;
                        }
                    }
                    &__link {
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 14px;
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
        .division-center {
            form {
                max-width: 366px;
                margin-right: auto;
                margin-left: auto;
                border-bottom: solid 1px white;
    
                .search-input{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    input {
                        width: 100%;
                        border: none;
                        background: transparent;
                        color: white;
                        &:focus{
                            outline: none;
                        }
                    }
                    .scoop-icon-btn{
                        background: transparent;
                        border: none;
                        cursor: pointer;
                        svg{
                            fill: transparent;
                            stroke: #818181;
                            z-index: 10;
                        }
                    }
                }
            }
        }
    }
}

.is-active{
    border-bottom: 3px solid #ff6b08;
}

.container{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}