@import './common';
@import './header';
@import './gallery';
@import './modal';
@import './footer';
@import './theme-dark';
@import './library';

.orange{
    background: #FF6B01;
    color:#fefefe;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;    
}