<div class="backdrop" id="data-modal">
  <div class="modal-footer">
    <span class="close" id="data-modal-close">&times;</span>
    <div class="modalTitle">
      <h1>Our Team</h1>
    </div>
    <div class="container-member">
      <ul class="leads">
        <li class="leads_item">
          <article class="member">
            <div class="member_overlay">
              <img src="./assets/images/carlos.jpeg" class="photo" alt="" />
              <div class="overlay">
                <span class="member_kind">Scrum Master</span>
                <div class="member_social">
                  <a href="https://www.linkedin.com/in/carlos-eduardo-ramos-escobar-64a23397/" target="_blank">
                    <svg
                    class="member_icon"
                    width="24"
                    height="24"
                    href=
                    >
                    <use href="./assets/images/icons.svg#linkedin"></use>
                  </svg>
                </a>
                <a href="https://github.com/Cramesco" target="_blank">
                  <svg
                  class="member_icon"
                  width="24"
                  height="24"
                  >
                  <use href="./assets/images/icons.svg#github"></use>
                </svg>
              </a>
              </div>
              </div>
            </div>
            <div class="member_desc">
              <h3 class="member_name">Carlos</h3>
            </div>
          </article>
        </li>
        <li class="leads_item">
          <article class="member">
            <div class="member_overlay">
              <img src="./assets/images/daniel.jpeg" class="photo" alt="" />
              <div class="overlay">
                <span class="member_kind">Team Lead</span>
                <div class="member_social">
                  <a href="https://www.linkedin.com/in/dfperdomo/" target="_blank">
                    <svg
                    class="member_icon"
                    width="24"
                    height="24"
                    href=
                    >
                    <use href="./assets/images/icons.svg#linkedin"></use>
                  </svg>
                </a>
                <a href="https://github.com/DPHDev" target="_blank">
                  <svg
                  class="member_icon"
                  width="24"
                  height="24"
                  >
                  <use href="./assets/images/icons.svg#github"></use>
                </svg>
              </a>
              </div>
              </div>
            </div>
            <div class="member_desc">
              <h3 class="member_name">Daniel</h3>
            </div>
          </article>
        </li>
      </ul>
      <ul class="devs">
        <li class="devs_item">
          <article class="member">
            <div class="member_overlay">
              <img src="./assets/images/deimer.jpeg" class="photo" alt="" />
              <div class="overlay">
                <span class="member_kind">Backend Dev</span>
                <div class="member_social">
                  <a href="https://www.linkedin.com/in/dfperdomo/" target="_blank">
                    <svg
                    class="member_icon"
                    width="24"
                    height="24"
                    href=
                    >
                    <use href="./assets/images/icons.svg#linkedin"></use>
                  </svg>
                </a>
                <a href="https://github.com/DPHDev" target="_blank">
                  <svg
                  class="member_icon"
                  width="24"
                  height="24"
                  >
                  <use href="./assets/images/icons.svg#github"></use>
                </svg>
              </a>
              </div>
              </div>
            </div>
            <div class="member_desc">
              <h3 class="member_name">Deimer</h3>
            </div>
          </article>
        </li>
        <li class="devs_item">
          <article class="member">
            <div class="member_overlay">
              <img src="./assets/images/dairo.jpeg" class="photo" alt="" />
               <div class="overlay">
                <span class="member_kind">Backend Dev</span>
                <div class="member_social">
                  <a href="https://www.linkedin.com/in/dfperdomo/" target="_blank">
                    <svg
                    class="member_icon"
                    width="24"
                    height="24"
                    href=
                    >
                    <use href="./assets/images/icons.svg#linkedin"></use>
                  </svg>
                </a>
                <a href="https://github.com/DPHDev" target="_blank">
                  <svg
                  class="member_icon"
                  width="24"
                  height="24"
                  >
                  <use href="./assets/images/icons.svg#github"></use>
                </svg>
              </a>
              </div>
              </div>
            </div>
            <div class="member_desc">
              <h3 class="member_name">Dairo</h3>
            </div>
          </article>
        </li>
        <li class="devs_item">
          <article class="member">
            <div class="member_overlay">
              <img src="./assets/images/sergio.jpeg" class="photo" alt="" />
               <div class="overlay">
                <span class="member_kind">Backend Dev</span>
                <div class="member_social">
                  <a href="https://www.linkedin.com/in/dairo-manosalva-gutierrez-89702954" target="_blank">
                    <svg
                    class="member_icon"
                    width="24"
                    height="24"
                    href=
                    >
                    <use href="./assets/images/icons.svg#linkedin"></use>
                  </svg>
                </a>
                <a href="https://github.com/damanosalvag/" target="_blank">
                  <svg
                  class="member_icon"
                  width="24"
                  height="24"
                  >
                  <use href="./assets/images/icons.svg#github"></use>
                </svg>
              </a>
              </div>
              </div>
            </div>
            <div class="member_desc">
              <h3 class="member_name">Sergio</h3>
            </div>
          </article>
        </li>
        <li class="devs_item">
          <article class="member">
            <div class="member_overlay">
              <img src="./assets/images/marce.jpeg" class="photo" alt="" />
               <div class="overlay">
                <span class="member_kind">Frontend Dev</span>
                <div class="member_social">
                  <a href="https://www.linkedin.com/in/karen-marcela-molina-pineda-29a44576/" target="_blank">
                    <svg
                    class="member_icon"
                    width="24"
                    height="24"
                    href=
                    >
                    <use href="./assets/images/icons.svg#linkedin"></use>
                  </svg>
                </a>
                <a href="https://github.com/marce0321" target="_blank">
                  <svg
                  class="member_icon"
                  width="24"
                  height="24"
                  >
                  <use href="./assets/images/icons.svg#github"></use>
                </svg>
              </a>
              </div>
              </div>
            </div>
            <div class="member_desc">
              <h3 class="member_name">Marcela</h3>
            </div>
          </article>
        </li>
        <li class="devs_item">
          <article class="member">
            <div class="member_overlay">
              <img src="./assets/images/antony.jpeg" class="photo" alt="" />
               <div class="overlay">
                <span class="member_kind">Frontend Dev</span>
                <div class="member_social">
                  <a href="https://www.linkedin.com/in/antony-fabian-c%C3%B3rdoba-pati%C3%B1o-395a8559/" target="_blank">
                    <svg
                    class="member_icon"
                    width="24"
                    height="24"
                    href=
                    >
                    <use href="./assets/images/icons.svg#linkedin"></use>
                  </svg>
                </a>
                <a href="https://github.com/anfa2091" target="_blank">
                  <svg
                  class="member_icon"
                  width="24"
                  height="24"
                  >
                  <use href="./assets/images/icons.svg#github"></use>
                </svg>
              </a>
              </div>
              </div>
            </div>
            <div class="member_desc">
              <h3 class="member_name">Antony</h3>
            </div>
          </article>
        </li>
        <li class="devs_item">
          <article class="member">
            <div class="member_overlay">
              <img src="./assets/images/bryan.jpeg" class="photo" alt="" />
               <div class="overlay">
                <span class="member_kind">Frontend Dev</span>
                <div class="member_social">
                  <a href="https://www.linkedin.com/in/dfperdomo/" target="_blank">
                    <svg
                    class="member_icon"
                    width="24"
                    height="24"
                    href=
                    >
                    <use href="./assets/images/icons.svg#linkedin"></use>
                  </svg>
                </a>
                <a href="https://github.com/DPHDev" target="_blank">
                  <svg
                  class="member_icon"
                  width="24"
                  height="24"
                  >
                  <use href="./assets/images/icons.svg#github"></use>
                </svg>
              </a>
              </div>
              </div>
            </div>
            <div class="member_desc">
              <h3 class="member_name">Brayan</h3>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</div>
