<!-- Footer Modal
<div class="backdrop" id="data-modal">
  <div class="modal-footer">
    <button id="data-modal-close" class="modal_close">X</button>
  </div>
  <div class="container-member">
    <ul>
      <li class="member">
        <div class="photo">
          <img src="./assets/images/" alt="">
        </div>
        <h3>Carlos</h3>
        <span>Scrum Master</span>
      </li>
      <li class="member">
        <div class="photo">
          <img src="./assets/images/daniel.jpeg" alt="">
        </div>
        <h3>Daniel</h3>
        <span>Team Lead</span>
      </li>
      <li class="member">
        <div class="photo">
          <img src="./assets/images/" alt="">
        </div>
        <h3>Deimer</h3>
        <span>Backend Dev</span>
      </li>
      <li class="member">
        <div class="photo">
          <img src="./assets/images/" alt="">
        </div>
        <h3>Dairo</h3>
        <span>Backend Dev</span>
      </li>
      <li class="member">
        <div class="photo">
          <img src="./assets/images/marce.jpeg" alt="">
        </div>
        <h3>Marcela</h3>
        <span>Frontend Dev</span>
      </li>
      <li class="member">
        <div class="photo">
          <img src="./assets/images/antony.jpeg" alt="">
        </div>
        <h3>Antony</h3>
        <span>Frontend Dev</span>
      </li>
      <li class="member">
        <div class="photo">
          <img src="./assets/images/bryan.jpeg" alt="">
        </div>
        <h3>Brayan</h3>
        <span>Frontend Dev</span>
      </li>
      <li class="member">
        <div class="photo">
          <img src="./assets/images/" alt="">
        </div>
        <h3>Sergio</h3>
        <span>Backend Dev</span>
      </li>
    </ul>
  </div>
</div> -->