<div class="backdrop" id="data-modal">
  <div class="modal-footer">
    <span class="close" id="data-modal-close">&times;</span>
    <div class="modalTitle">
      <h1>Our Team</h1>
    </div>
    <div class="container-member">
      <ul class="leads">
        <li class="leads_item">
          <article class="member">
            <div class="member_overlay">
              <img src="./assets/images/carlos.jpeg" class="photo" alt="" />
              <!-- <span class="member_kind">Scrum Master</span> -->
              <div class="member_social"></div>
            </div>
            <div class="member_desc">
              <h3 class="member_name">Carlos</h3>
            </div>
          </article>
        </li>
        <li class="leads_item">
          <article class="member">
            <div class="member_overlay">
              <img src="./assets/images/daniel.jpeg" class="photo" alt="" />
              <!-- <span class="member_kind">Team Lead</span> -->
              <div class="member_social"></div>
            </div>
            <div class="member_desc">
              <h3 class="member_name">Daniel</h3>
            </div>
          </article>
        </li>
      </ul> 
      <ul class="devs">
        <li class="devs_item">
          <article class="member">
            <div class="member_overlay">
              <img src="./assets/images/deimer.jpeg" class="photo" alt="" />
              <!-- <span class="member_kind">Backend Dev</span> -->
              <div class="member_social"></div>
            </div>
            <div class="member_desc">
              <h3 class="member_name">Deimer</h3>
            </div>
          </article>
        </li>
        <li class="devs_item">
          <article class="member">
            <div class="member_overlay">
              <img src="./assets/images/dairo.jpeg" class="photo" alt="" />
              <!-- <span class="member_kind">Backend Dev</span> -->
              <div class="member_social"></div>
            </div>
            <div class="member_desc">
              <h3 class="member_name">Dairo</h3>
            </div>
          </article>
        </li>
        <li class="devs_item">
          <article class="member">
            <div class="member_overlay">
              <img src="./assets/images/sergio.jpeg" class="photo" alt="" />
              <!-- <span class="member_kind">Backend Dev</span> -->
              <div class="member_social"></div>
            </div>
            <div class="member_desc">
              <h3 class="member_name">Sergio</h3>
            </div>
          </article>
        </li>
        <li class="devs_item">
          <article class="member">
            <div class="member_overlay">
              <img src="./assets/images/marce.jpeg" class="photo" alt="" />
              <!-- <span class="member_kind">Frontend Dev</span> -->
              <div class="member_social"></div>
            </div>
            <div class="member_desc">
              <h3 class="member_name">Marcela</h3>
            </div>
          </article>
        </li>
        <li class="devs_item">
          <article class="member">
            <div class="member_overlay">
              <img src="./assets/images/antony.jpeg" class="photo" alt="" />
              <!-- <span class="member_kind">Frontend Dev</span> -->
              <div class="member_social"></div>
            </div>
            <div class="member_desc">
              <h3 class="member_name">Antony</h3>
            </div>
          </article>
        </li>
        <li class="devs_item">
          <article class="member">
            <div class="member_overlay">
              <img src="./assets/images/bryan.jpeg" class="photo" alt="" />
              <!-- <span class="member_kind">Frontend Dev</span> -->
              <div class="member_social"></div>
            </div>
            <div class="member_desc">
              <h3 class="member_name">Brayan</h3>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</div>
