<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-block-image-container">
      <img class="modal-block-poster"
        src="https://firebasestorage.googleapis.com/v0/b/filmoteca-c42e2.appspot.com/o/images%2Fdefault-opt.jpg?alt=media&token=8d34f416-268a-4f03-a309-841d27ec0d59" />
    </div>
    <div class="modal-block">
      <h2 class="modal-block__title">
        Movie Title
      </h2>
      <div class="film-info">
        <ul class="film-info__names">
          <li>Vote/Votes</li>
          <li>Popularity</li>
          <li>Original Title</li>
          <li>Genre</li>
        </ul>
        <ul class="film-info__values">
        </ul>
      </div>
          <h5 class="description-title">
            ABOUT
          </h5>
          <p class="description-text">
            Description
          </p>
          <ul class="list-btn">
            <li>
              <button type="button" class="btn-watched" id="watch-button">
                ADD TO WATCHED
              </button>
            </li>
            <li>
              <button type="button" class="btn--queue" id="queue-button">
                ADD TO QUEUE
              </button>
            </li>
          </ul>
          <span class="close">&times;</span>
    </div>
  </div>
</div>

