<!DOCTYPE html>
<html lang="en-es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../sass/index.scss" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@100;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>My library</title>
  </head>
  <body>
    <include src="./partials/modal.html"></include>
    <header>
      <section class="header-container">
        <include src="./partials/switch.html"></include>
        <div class="container-divisions">
          <div class="division-left">
            <div class="logo-icon">
              <svg
                class="film-icon"
                width="24"
                height="24"
                href="/src/index.html"
              >
                <use href="../assets/images/icons.svg#icon-film"></use>
              </svg>
            </div>
            <div class="page-name">
              <a href="../index.html" class="main_tittle"><h1>Filmoteka</h1></a>
            </div>
          </div>
          <nav class="division-right">
            <ul class="menu-home">
              <li class="menu-home__item">
                <a class="menu-home__link" href="../index.html">Home</a>
              </li>
              <li class="menu-home__item is-active">
                <a class="menu-home__link" href="./my-library.html" id="library"
                  >My library</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="division-center">
          <div class="buttons">
            <button id="buttonWatchet" class="button__watchet buttons__btn">WATCHET</button>
            <button id="buttonQueue" class="button__queue buttons__btn">QUEUE</button>
          </div>
        <div class="clear">
          <button id="clearWatched" class="clearWatched buttons__btn">CLEAR WATCHET LIST</button>
          <button id="clearQueue" class="clearQueue buttons__btn">CLEAR QUEUE LIST</button>
        </div>
        </div>
      </section>
    </header>
    <main>
    <section>
      <div class="container">
        <h2 hidden>Popular films</h2>
        <div id="films" class="films"></div>
      </div>
    </section>
    <div id="back-to-top" class="back-to-top">
      <svg class="back-to-top__icon" viewBox="0 0 512 512" width="50" height="50">
        <use href="../assets/images/icons.svg#toTop"></use>
      </svg>
    </div>
    </main>
    <footer>
      <section class="footer">
        <p class="footer__text">
          © 2023 | All Rights Reserved | Developed with
        </p>
        <svg
          class="footer__svg"
          xmlns="http://www.w3.org/2000/svg"
          width="15"
          height="14"
        >
          <use
            class="footer__use"
            href="../assets/images/icons.svg#favorite"
          ></use>
        </svg>
        <p class="footer__text">
          by
          <span id="footer-modal__open" class="footer__span" data-modal-open
            >GoIT Students | team: "Dev Vinci Code"</span
          >
        </p>
      </section>
      <!-- Footer Modal -->
      <!-- Here you will see the code for the modal but it's not finished yet -->
    </footer>
    <div class="backdrop is-hidden" id="data-modal">
    <div class="modal-footer">
      <button id="data-modal-close" class="modal_close">
        <svg class="icon-close-modal">
          <use href="../assets/images/icons.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
  </footer>
    <script type="module" src="../js/library.js"></script>
  </body>
</html>
