@import '~node_modules/modern-normalize/modern-normalize.css';

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
}

ul {
    margin-block-end: 0em;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    padding-inline-start: 0px;
}

.container {
    max-width: 882px;
    margin-left: auto;
    margin-right: auto; 
}

@media only screen and (min-width: 768px) and (max-width:1024px){
    .container{
        max-width: 617px;
    }
}

@media only screen and (min-width: 320px) and (max-width:767px){
    .container{
        max-width: 280px;
    }
}