@import '../utils/variables';
@import '../utils/mixins';

.footer {
  @include flex-container(row, center, center);
  background-color: getColor(background-footer);
  gap: 10px;

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__svg {
    fill: getColor("accent");
  }
  &__span {
    cursor: pointer;
    color: #0000ff;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}

.is-hidden {
  display: none;
}