@import '../utils/variables';
@import '../utils/mixins';

.films {
  @include flex-container(row, center);
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 60px;
  margin-top: 60px;

  .movie-card {
    width: 274px;
    height: auto;
    border-radius: 4px;
  }
  .movie-card:hover {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    filter: drop-shadow(
      0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16)
    );
    transform: scale(1.05);
  }

  .poster-large {
    display: block;
    width: 100%;
    height: auto;

    .gallery__image {
      width: 100%;
      height: auto;
      border-radius: 4px;
    }
  }
}

.info {
  margin-top: 10px;

  .card-movie-title {
    @include text(500, 12px, 16px);
    margin-left: 3px;
  }

  .info-items {
    @include flex-container(row, flex-start, center);
    font-size: 12px;
    gap: 5px;
    font-weight: bold;
    color: getColor('accent');
  }

  .info-items:nth-child(3) {
    @include flex-container(row, center, center);
    color: getColor('white');
    background-color: getColor('accent');
    border-radius: 5px;
    width: 36px;
    height: 16px;
  }
}

.back-to-top {
  display: none;
  position: fixed;
  right: 3%;
  bottom: 10%;
  cursor: pointer;

  svg {
    opacity: 0.7;
    fill: getColor('accent');
  }

  &:hover svg {
    opacity: 1;
    transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .films {
    .movie-card {
      width: 293px;
    }
  }

  .card-movie-title {
    line-height: 14px;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .films {
    .movie-card {
      width: 280px;
    }
  }
}
