
////////// Dark theme //////////

body.body-theme {
    .modal-content {
        background: rgb(254, 254, 254);
        background: radial-gradient(circle, rgba(254, 254, 254, 1) 55%, rgba(121, 119, 119, 1) 82%);
    }
}
@media only screen and (min-width: 320px) and (max-width:767px){
    
    .modal {
        position: fixed;
        display: none;
        // position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 12px;
        font-weight: 50;

        &-content {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            background-color: #fefefe;
            margin: 8% auto;
            border: 1px solid #888;
            width: 80%;
            position: relative;
            box-shadow: 0 0 15px orangered;
            border-radius: 6px;
        }
    
        &-block {
            width: 238px;
            margin: 0;
            color: black;
    
            &__title {
                line-height: 27px;
                text-transform: uppercase;
                text-align: start;
            }

            &-poster {
                margin: 40px 0px 20px;
                width: 220px;
                height: auto;
                border-radius: 5px;
            }
        }
    
        .film-info {
            margin-top: 20px;
            color: black;
            line-height: 25px;
            display: flex;
            

            &__names {
                color: gray;
            }

            &_vote {
                background: #FF6B01;
                color: #fefefe;
                border-radius: 5px;
                padding-left: 5px;
                padding-right: 5px;
            }
    
            &_count {
                background: #e0dfdf;
                color: rgba(0, 0, 0, 0.4);
                border-radius: 5px;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    
        .description-title {
            margin-top: 20px;
        }

        .description-text {
            
            line-height: 20px;
        }

        .list-btn {
            margin: 10px 0px;
            display: flex;
            justify-content: space-between;
            
            .btn-watched,
            .btn--queue {
                color: rgb(73, 73, 73);
                border: 1px solid gray;
                border-radius: 5px;
                width: 110px;
                height: 44px;
                cursor: pointer;

                &:hover {
                    background: #FF6B01;
                    color: white;

                }
            }
        }
    
    }
    
    
    .close {
        color: #aaa;
        position: absolute;
        font-size: 28px;
        font-weight: bold;
        right: 8px;
        top: 3px;

        &:hover,
        &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px){
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 12px;
        font-weight: 40;

        &-content {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            flex-wrap: wrap;
            background-color: #fefefe;
            margin: 8% auto;
            border: 1px solid #888;
            width: 80%;
            position: relative;
            box-shadow: 0 0 15px orangered;
            border-radius: 6px;
        }
    
        &-block {
            
            width: 250px;
            margin: 0;
            color: black;

            &__title {
                margin: 40px 0px 20px;
                line-height: 25px;
                text-transform: uppercase;
                text-align: left;
            }

            &:hover {
                // background: #FF6B01;
                // color: white;
                transition: 0.3s;

            &-poster {
                margin: 40px 0px 20px;
                width: 250px;
                height: 340px;
                border-radius: 5px;
            }
        }

        .film-info {
            
            color: black;
            line-height: 25px;
            display: flex;
            

            &__names {
                color: gray;
            }

            &_vote {
                background: #FF6B01;
                color: #fefefe;
                border-radius: 5px;
                padding-left: 5px;
                padding-right: 5px;
            }
    
            &_count {
                background: #e0dfdf;
                color: rgba(0, 0, 0, 0.4);
                border-radius: 5px;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    
        .description-title {
            margin-top: 20px;
        }
    
        .description-text {
    
            line-height: 20px;
        }
    
        .list-btn {
            margin: 10px 0px;
            display: flex;
            justify-content: space-between;

            .btn-watched,
            .btn--queue {
                color: rgb(73, 73, 73);
                border: 1px solid gray;
                border-radius: 5px;
                width: 110px;
                height: 44px;
                cursor: pointer;

                &:hover {
                    background: #FF6B01;
                    color: white;

                }
            }
        }
    
    }
    
    
    .close {
        color: #aaa;
        position: absolute;
        font-size: 28px;
        font-weight: bold;
        right: 8px;
        top: 3px;

        &:hover,
        &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}
}

@media only screen and (min-width: 1024px){
    .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow-y: hidden;
            background-color: rgba(0, 0, 0, 0.4);
            font-size: 14px;
            font-weight: 500;
    
    
            &-content {
                display: flex;
                align-items: flex-start;
                background-color: #fefefe;
                margin: 15% auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
                position: relative;
                box-shadow: 0 0 15px orangered;
                border-radius: 6px;
            }
    
            &-block {
                margin-top: 25px;
                margin-left: 10px;
    
                color: black;
    
                &__title {
                    size: 30px;
                    line-height: 35.16px;
                    text-transform: uppercase;
                }
    
                &-poster {
                    margin: 20px;
                    width: 376px;
                    height: 477px;
                    border-radius: 5px;
                }
            }
    
            .film-info {
                margin-top: 20px;
                color: black;
                line-height: 25px;
                display: flex;
                gap: 50px;
    
                &__names {
                    color: gray;
                }
    
                &_vote {
                    background: #FF6B01;
                    color: #fefefe;
                    border-radius: 5px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
    
                &_count {
                    background: #e0dfdf;
                    color: rgba(0, 0, 0, 0.4);
                    border-radius: 5px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
    
            .description-title {
                margin-top: 20px;
            }
    
            .description-text {
                margin-top: 20px;
                margin-bottom: 20px;
                font-weight: 500;
                line-height: 20px;
            }
    
            .list-btn {
                display: flex;
                gap: 15px;
    
                .btn-watched,
                .btn--queue {
                    color: rgb(73, 73, 73);
                    border: 1px solid gray;
                    border-radius: 5px;
                    width: 136px;
                    height: 44px;
                    cursor: pointer;
    
                    &:hover {
                        background: #FF6B01;
                        color: white;
    
                    }
                }
            }
    
        .close {
            color: #aaa;
            position: absolute;
            font-size: 28px;
            font-weight: bold;
            right: 8px;
            top: 3px;
    
            &:hover,
            &:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        }
}
}

body.body-theme {
    .modal-content {
        background: #333;
        
    }
    .modal-block{
        color: white;
    }
    .film-info {
        color: white;

    }
}